figure {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	figcaption {
		position: absolute;
		bottom: 3rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;

		font-size: 1.4rem;
		line-height: 1.8rem;
		font-weight: 800;
		color: #fff;
		text-transform: uppercase;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 1024px) {
	figure {
		figcaption {
			left: 3rem;
			transform: translateX(0%);
			text-align: left;
		}
		img {
			transform: scale(1.1);
			transition: all 150ms linear;
		}
		&:hover {
			cursor: pointer;
			img {
				transform: scale(1);
			}
		}
	}
}

@media (min-width: 1440px) {
	.vertical {
		grid-row: span 2;
	}

	.horizontal {
		grid-column: span 2;
	}
}
