.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 4rem;

	li {
		list-style: none;
		transition: all 120ms linear;
		border-radius: 5px;

		a {
			color: #000;
			font-size: 20px;
			transition: all 120ms linear;
		}

		.next-btn,
		.prev-btn {
			width: 40px;
			height: 40px;
			background-color: #ea5544;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			color: #fff;
			border: 1px solid #ea5544;
			transition: all 120ms linear;

			&:hover {
				background-color: #fff;
				color: #ea5544;
			}
		}
	}

	.page-btn {
		a {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&:hover {
			cursor: pointer;
			background-color: #ea5544;

			a {
				color: #fff;
			}
		}
	}

	.dots {
		cursor: pointer;
	}

	.active-btn {
		background-color: #ea5544;

		a {
			color: #fff;
		}
	}
}
