.header__nav {
	display: none;

	@media (min-width: 920px) {
		display: block;
		background-color: #fff;

		section {
			padding: 2.3rem 3rem;
		}

		.header__nav_inner {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.nav__links {
				display: flex;
				align-items: center;
				gap: 2rem;

				a {
					font-size: 1.4rem;
					line-height: 1.789rem;
					color: #242424;
					font-weight: 600;
				}
			}
			.nav__filter {
				display: flex;
				gap: 2rem;

				div {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 1rem;
					min-width: 273px;

					padding: 1.6rem 2rem;
					border: 1px solid #eaeaea;
					input {
						border: none;
						outline: none;
						font-size: 1.2rem;
						line-height: 1.534rem;
						color: #9b9b9b;
					}
					img {
						width: 19px;
					}
				}

				button {
					border: 1px solid #ea5544;
					padding: 1.8rem 2.6rem;
					background-color: #ea5544;

					font-size: 1.2rem;
					line-height: 1.534rem;
					color: #fff;
					font-weight: 700;
				}
			}
		}
	}

	@media (min-width: 1024px) {
		section {
			padding: 2.3rem 4rem;
		}
		.header__nav_inner {
			.nav__links {
				gap: 3rem;

				a {
					transition: all 150ms linear;
					&:hover {
						color: #ea5544;
					}
				}
			}
			.nav__filter {
				gap: 4.2rem;

				button {
					transition: all 200ms linear;

					&:hover {
						cursor: pointer;
						background-color: transparent;
						color: #ea5544;
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
		.nav__links {
			gap: 6rem;
		}
	}
}
