.contacts {
	padding-top: 6rem;

	.section {
		padding: 0 2rem;
		h2 {
			margin-bottom: 4rem;
		}
	}

	h3 {
		font-size: 1.8rem;
		line-height: 2.3rem;
		font-weight: 800;
		color: #242424;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	address {
		font-style: normal;
		h4 {
			font-size: 1.6rem;
			line-height: 2rem;
			font-weight: 800;
			color: #474747;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 2.4rem;
			font-weight: 600;
			color: #474747;
		}
	}

	.contacts__moscow {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;

		.contacts__cols {
			display: flex;
			flex-wrap: wrap;
			gap: 3rem;
			margin-bottom: 3rem;

			.contact {
				display: flex;
				align-items: center;
				gap: 1.2rem;

				> span {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 51px;
					height: 51px;
					background-color: #ea5544;
					border-radius: 50%;

					img {
						width: 19px;
					}
				}

				p {
					font-size: 1.6rem;
					line-height: 2rem;
					font-weight: 800;
					color: #474747;

					span {
						color: #ea5544;
					}
				}
			}

			.first-col,
			.second-col {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}
			.third-col {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				div:last-child {
					p {
						font-size: 1.4rem;
						line-height: 2.4rem;
						font-weight: 600;
						color: #474747;
					}
				}
			}
		}
	}

	.contacts__petersburg {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;

		.contact {
			display: flex;
			align-items: center;
			gap: 1.2rem;

			> span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 51px;
				height: 51px;
				background-color: #ea5544;
				border-radius: 50%;

				img {
					width: 19px;
				}
			}

			p {
				font-size: 1.6rem;
				line-height: 2rem;
				font-weight: 800;
				color: #474747;

				span {
					color: #ea5544;
				}
			}
		}

		.contacts__cols {
			display: flex;
			flex-wrap: wrap;
			gap: 3rem;
			margin-bottom: 3rem;

			.contacts__first_col {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}

			.contacts__second_col {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				div:last-child {
					p {
						font-size: 1.4rem;
						line-height: 2.4rem;
						font-weight: 600;
						color: #474747;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		.section {
			padding: 0 3rem;
		}

		.contacts__moscow,
		.contacts__petersburg {
			.contacts__cols {
				gap: 4rem;
				margin-bottom: 4rem;
			}
		}
	}

	@media (min-width: 1024px) {
		padding-top: 8rem;

		.section {
			padding: 0 4rem;
			h2 {
				margin-bottom: 6rem;
			}
		}

		h3 {
			font-size: 1.8rem;
			line-height: 2.3rem;
			margin-bottom: 3rem;
		}

		address {
			h4 {
				font-size: 1.8rem;
				line-height: 2.3rem;
				margin-bottom: 1.2rem;
			}

			p {
				font-size: 1.5rem;
				line-height: 2.5rem;
			}
		}

		.contacts__moscow {
			margin-bottom: 10rem;
			.contacts__cols {
				margin-bottom: 4rem;

				.contact {
					gap: 2rem;

					> span {
						width: 55px;
						height: 55px;
					}

					p {
						font-size: 1.7rem;
						line-height: 2.5rem;
					}
				}

				.first-col,
				.second-col {
					gap: 3rem;
				}
				.third-col {
					display: flex;
					flex-direction: column;
					gap: 1.2rem;

					div:last-child {
						p {
							font-size: 1.4rem;
							line-height: 2.1rem;
						}
					}
				}
			}
		}

		.contacts__petersburg {
			margin-bottom: 10rem;

			.contact {
				gap: 2rem;

				> span {
					width: 55px;
					height: 55px;
				}

				p {
					font-size: 1.7rem;
					line-height: 2.5rem;
				}
			}

			.contacts__cols {
				margin-bottom: 4rem;

				.contacts__first_col {
					gap: 3rem;
				}

				.contacts__second_col {
					gap: 1.2rem;
					div:last-child {
						p {
							font-size: 1.4rem;
							line-height: 2.1rem;
						}
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
		padding-top: 8.2rem;

		.contacts__moscow {
			margin-bottom: 14rem;
			.contacts__cols {
				margin-bottom: 6rem;
				gap: 0rem;
				justify-content: space-between;
			}
		}

		.contacts__petersburg {
			margin-bottom: 14rem;
			.contacts__cols {
				margin-bottom: 6rem;
				gap: 12.7rem;
			}
		}
	}
}
