.home-catalog {
	margin-bottom: 8rem;

	section {
		padding: 0 2rem;
	}

	.swiper {
		max-width: 420px;

		.swiper-slide {
			height: 337px;
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			figure {
				position: relative;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				figcaption {
					position: absolute;
					left: 50%;
					bottom: 20px;
					transform: translateX(-50%);

					font-size: 1.6rem;
					line-height: 2.045rem;
					font-weight: 800;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
	}

	.catalog-grid__large {
		display: none;
	}

	@media (min-width: 768px) {
		section {
			padding: 0 3rem;
		}

		.swiper {
			max-width: 880px;
		}
	}

	@media (min-width: 1024px) {
		margin-bottom: 10rem;
		section {
			padding: 0 4rem;
		}
		.swiper {
			max-width: 1165px;
		}
	}

	@media (min-width: 1440px) {
		margin-bottom: 14rem;
		.swiper {
			display: none;
		}
		.catalog-grid__large {
			display: grid;
			gap: 2.4rem;
			justify-content: center;
			grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
			grid-auto-rows: 308px;
			grid-auto-flow: dense;
			figure {
				position: relative;
				overflow: hidden;
				border-radius: 5px;
				figcaption {
					position: absolute;
					bottom: 3rem;
					left: 3rem;

					font-size: 1.4rem;
					line-height: 1.8rem;
					font-weight: 800;
					color: #fff;
					text-transform: uppercase;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.1);
					transition: all 150ms linear;
				}

				&:hover {
					cursor: pointer;
					img {
						transform: scale(1);
					}
				}
			}
			.vertical {
				grid-row: span 2;
			}

			.horizontal {
				grid-column: span 2;
			}
		}
	}
}
