.home-welcome {
	position: relative;
	margin-bottom: 8rem;

	.swiper-slide {
		min-height: 688px;
		> img {
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		.home-welcome__content {
			height: 100%;
			padding: 30.5rem 2rem 17.1rem;
			position: absolute;
			top: 0;
			left: 0;

			h1 {
				font-size: 2.8rem;
				line-height: 3.578rem;
				font-weight: 800;
				text-transform: uppercase;
				color: #fff;

				margin-bottom: 0.8rem;

				width: 80%;
				max-width: 595px;
			}

			p {
				font-size: 1.2rem;
				line-height: 1.534rem;
				color: #fff;
				margin-bottom: 2rem;

				width: 60%;
				max-width: 595px;
			}

			button {
				font-size: 1.1rem;
				line-height: 1.406rem;
				font-weight: 700;
				color: #fff;

				padding: 1.9rem 4.55rem;
				border: none;
				background-color: #ea5544;
			}
		}
	}

	.home-welcome__pagination {
		position: absolute;
		bottom: 4.5rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		.pagination_small {
			display: flex;
			align-items: center;
			gap: 1rem;

			.swiper-pagination-bullet {
				border-radius: 0px;
				width: 41px;
				height: 2px;
				background-color: #fff;
			}

			.swiper-pagination-bullet-active {
				background-color: #ea5544;
			}
		}

		.pagination_large {
			display: none;
		}
	}

	@media (min-width: 768px) {
		.swiper-slide {
			min-height: auto;
			.home-welcome__content {
				padding: 20.5rem 3rem 10.1rem;

				h1 {
					font-size: 3.4rem;
					line-height: 3.8rem;
					margin-bottom: 1.5rem;
				}

				p {
					font-size: 1.5rem;
					line-height: 2rem;
					margin-bottom: 2.5rem;
				}
			}
		}

		.home-welcome__pagination {
			bottom: 5.5rem;
			right: 0;
			transform: translateX(50%);

			.pagination_small {
				display: none;
			}

			.pagination_large {
				display: flex;
				gap: 2rem;

				.pagination_prev_btn,
				.pagination_next_btn {
					width: 59px;
					height: 54.5px;
					border: 2px solid #fff;
					border-radius: 5px;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.pagination_next_btn {
					transform: rotate(180deg);
				}

				.pagination_next_btn:active,
				.pagination_prev_btn:active {
					border-color: #ea5544;

					.welcome__polygon {
						stroke: #ea5544;
					}
				}
			}
		}
	}

	@media (min-width: 920px) {
		.home-welcome__pagination {
			transform: translateX(60%);
		}
	}

	@media (min-width: 1024px) {
		.home-welcome__content {
			button {
				transition: all 150ms linear;

				&:hover {
					background-color: #fff;
					cursor: pointer;
					color: #ea5544;
				}
			}
		}

		.home-welcome__pagination {
			transform: translateX(65%);

			.pagination_large {
				.pagination_prev_btn,
				.pagination_next_btn {
					transition: all 100ms linear;
				}

				.pagination_next_btn:hover,
				.pagination_prev_btn:hover {
					border-color: #ea5544;
					cursor: pointer;

					.welcome__polygon {
						stroke: #ea5544;
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
		.swiper-slide {
			> img {
				width: 100%;
			}
			.home-welcome__content {
				padding: 11.3rem 7.2rem 3.2rem;

				h1 {
					font-size: 3.5rem;
					line-height: 4.473rem;
					font-weight: 900;
				}

				p {
					font-size: 1.4rem;
					line-height: 2.2rem;
					margin-bottom: 3.7rem;
				}

				button {
					font-size: 1.2rem;
					line-height: 1.534rem;

					padding: 2rem 4.65rem;
				}
			}
		}
		.home-welcome__pagination {
			transform: translateX(72%);
		}
	}
}
