.header {
	background-color: #333;
	position: relative;

	.section {
		padding: 2.9rem 2rem;
	}

	.header__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header__top_left {
			display: flex;
			align-items: center;
			gap: 2rem;

			.header__logo {
				max-width: 159px;
			}
		}

		.header__top_right {
			.header__contacts {
				display: none;
			}

			.header__filters {
				display: flex;
				align-items: center;
				gap: 1.7rem;
			}
		}
	}

	@media (min-width: 768px) {
		.section {
			padding: 2.9rem 3rem;
		}
	}

	@media (min-width: 920px) {
		.header__top {
			.header__top_left {
				.hamburger {
					display: none;
				}

				.header__logo {
					max-width: 223px;
				}
			}

			.header__top_right {
				.header__contacts {
					display: flex;
					align-items: center;
					gap: 5rem;

					a {
						display: flex;
						align-items: center;
						gap: 1.6rem;
						font-size: 1.4rem;
						line-height: 1.789rem;
						font-weight: 600;

						img {
							width: 18px;
						}
					}

					.basket-icon {
						img {
							width: 25px;
						}
					}
				}

				.header__filters {
					display: none;
				}
			}
		}
	}

	@media (min-width: 1024px) {
		.section {
			padding: 2.9rem 4rem;
		}

		.header__top {
			.header__top_right {
				.header__contacts {
					a {
						position: relative;

						&:after {
							transition: all 200ms linear;
							position: absolute;
							content: '';
							width: 0%;
							height: 2px;
							background-color: #fff;
							bottom: -3px;
							left: 0;
						}

						&:hover:after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
