// Variables
$mainColor: #242424;
$accentColor: #cb0014;
$lightColor: #ffffff;

// breackpoints

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color: #d4d4d410;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (max-width: 640px) {
	.section {
		width: 100%;
		margin: 0 auto;
	}
	.container {
		width: 100%;
		max-width: 610px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.section {
		width: 100%;
		margin: 0 auto;
	}
	.container {
		width: 100%;
		max-width: 728px;
		margin: 0 auto;
	}
}

@media (max-width: 1024px) {
	.section {
		width: 100%;
		margin: 0 auto;
	}
	.container {
		width: 100%;
		max-width: 964px;
		margin: 0 auto;
	}
}
@media (min-width: 1025px) {
	.section {
		width: 100%;
		margin: 0 auto;
	}
	.container {
		width: 100%;
		max-width: 1360px;
		margin: 0 auto;
	}
}

.subtitle {
	font-size: 2.2rem;
	line-height: 2.812rem;
	font-weight: 900;
	color: #474747;
	margin-bottom: 2rem;
	display: inline-block;
	text-transform: uppercase;

	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 65%;
		height: 3px;
		background-color: #ea5544;
		top: -4.5px;
		left: 0;
	}
}

a {
	color: #fff;
	text-decoration: none;
}
