.product-details {
	padding-top: 6rem;
	padding-bottom: 8rem;
	.section {
		padding: 0 2rem;
	}

	h2 {
		margin-bottom: 4rem;
	}

	.product-details__media {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 2rem;
		> img {
			width: 100%;
			margin-bottom: 1rem;
		}

		> div {
			display: flex;
			gap: 2rem;

			> img {
				flex: 1;
				object-fit: cover;
			}

			> div {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;

				box-shadow: 0 3px 6px 0 rgba(212, 212, 212, 0.09),
					0 10px 10px 0 rgba(212, 212, 212, 0.09),
					0 23px 14px 0 rgba(212, 212, 212, 0.05),
					0 41px 16px 0 rgba(212, 212, 212, 0.01),
					0 64px 18px 0 rgba(212, 212, 212, 0);
			}
		}
	}

	.content-wrapper {
		> img {
			display: none;
		}
	}

	.product-details__content {
		background-color: #fff;
		box-shadow: 0 3px 6px 0 rgba(212, 212, 212, 0.09),
			0 10px 10px 0 rgba(212, 212, 212, 0.09),
			0 23px 14px 0 rgba(212, 212, 212, 0.05),
			0 41px 16px 0 rgba(212, 212, 212, 0.01),
			0 64px 18px 0 rgba(212, 212, 212, 0);
		padding: 3rem 2.2rem;

		p {
			margin-bottom: 1.1rem;
			font-size: 1.2rem;
			line-height: 2rem;
			font-weight: 700;
		}

		span {
			color: #9b9b9b;
			font-weight: 600;
		}

		span:first-child {
			color: #242424;
		}

		.read-more {
			font-size: 1.1rem;
			line-height: 1.4rem;
			color: #ea5544;
			margin-bottom: 2rem;
		}

		.product-price {
			font-size: 2rem;
			line-height: 2.556rem;
			font-weight: 800;
			color: #ea5544;
			margin-bottom: 1.5rem;
		}

		button {
			font-size: 1.1rem;
			line-height: 1.4rem;
			font-weight: 700;
			color: #fff;

			padding: 1.8rem 4.55rem;
			border: 1px solid #ea5544;
			background-color: #ea5544;
		}
	}

	@media (min-width: 768px) {
		.section {
			padding: 0 3rem;
		}

		.product-details__media {
			max-width: 100%;
			display: flex;
			gap: 2rem;
			margin-bottom: 4rem;
			> img {
				margin-bottom: 0rem;
				flex: 1.5;
			}

			> div {
				flex-direction: column;
				flex: 1;
			}
		}
	}

	@media (min-width: 1024px) {
		padding-top: 8rem;
		padding-bottom: 10rem;
		.section {
			padding: 0 4rem;
		}

		.product-details__wrapper {
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-start;
			gap: 2rem;
		}

		.product-details__media {
			margin: 0;
			max-width: 516px;
			> img {
				display: none;
			}
			> div {
				flex-direction: row;
				> div {
					transition: all 120ms linear;
					&:hover {
						cursor: pointer;
						box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.content-wrapper {
			display: flex;
			gap: 2.4rem;

			> img {
				width: 50%;
				display: block;
				object-fit: cover;
			}
			.product-details__content {
				padding: 3.4rem 5.7rem 5.1rem 3.5rem;
				width: 50%;

				p {
					margin-bottom: 1.8rem;
					font-size: 1.4rem;
					line-height: 2.1rem;
				}

				.read-more {
					font-size: 1.3rem;
					line-height: 2.1rem;
					margin-bottom: 4rem;
					padding: 0;
				}

				.product-price {
					font-size: 2.8rem;
					line-height: 3.556rem;
					font-weight: 800;
					margin-bottom: 1.2rem;
				}

				button {
					font-size: 1.2rem;
					line-height: 1.534rem;

					padding: 1.8rem 6.3rem;
					transition: all 120ms linear;
					&:hover {
						cursor: pointer;
						background-color: transparent;
						color: #ea5544;
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
		padding-bottom: 14rem;
	}
}
